<div id="nav">
    <div class="col-6 center">
        <a href="/"><span class="button">Home</span></a>
        <a href="/courses"><span class="button">Cooking Courses</span></a>
        <a href="/subscribers/new"><span class="button">Subscribe</span></a>
    </div>
    <div class="col-6 center">
        <h1>Confetti Cuisine</h1>
    </div>
</div>
