<div class="container">
    <div class="col-6">
        <img src="images/people.jpg" alt="">
    </div>
    <div class="col-6">
        <h1>Welcome!</h1>
        <p>Please check out all the cool new <a href="/courses">cooking courses</a> created by our innovative and creative chefs.</p>
        <p>When you see a course you like you can <a href="/subscribers/new">subscribe to our website</a> and join other cooking enthusiasts!</p>
        <p>During the whole course, you'll be cooking at your own home.</p>
    </div>
</div>
