<div class="container">
    <div class="col-6">
      <img src="/images/cat.jpg" alt="Error cat">
    </div>
    <div class="col-6">
      <h1><%= errorMessage %></h1>
      <p> Go to
        <a href="/">home!</a>
      </p>
    </div>
  </div>
  